body {
font: 14px Verdana;
color: rgb(148, 148, 148);
/*background-color: #fff;*/
/*background-color: #2A313B;*/
}

a {
color: #000
}

.fine-print {
font: 12px Verdana;
color: #777;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#callout {
    position: absolute;
    /*visibility: hidden;*/
    background: #fff;
    padding: 10px;
    z-index: 20000;
    /*width: 150px;
    height: 45px;*/
    width: auto;
    height: auto;
    font-size: 11px;
    border: 1px solid #bbb;
    /*-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.4);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);*/
    -moz-border-radius: 4px;
    border-radius: 4px;
}



#day {
font-size: 18px;
font-weight: 700;
}

#header-line {
    border: 0;
    height: 1px;
    color: rgb(148, 148, 148);
    background-color: #ccc;
    width: 1080px;
    position: absolute;
    top: 55px;
    left: 0px;
}

#image-canvas {
    visibility: hidden;
}


#legend {
    position: absolute;
    left: 0px;
    /*top: 390px;*/
    top: 790px;
    z-index: 20;
    /*opacity: 0;*/
    display: block;
}

#legend canvas {
    width: 80px;
    height: 20px;
}

#map-data {
    position: absolute;
    left: 0px;
    top: 100px;
}

#map-heading {
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 20;
}

#mask {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10
}

#city-display {
    position: absolute;
    /*left: 180px;
    top: 80px;*/
    left: 0px;
    top: 0px;
    z-index: 20;
}

#display {
    position: absolute;
    /*left: 180px;
    top: 80px;*/
    left: 0px;
    top: 0px;
}

#shineSpot-canvas {
    position: absolute;
    /*left: 180px;
    top: 80px;*/
    left: 0px;
    top: 0px;
    z-index: 19;
}

#mask-holder {
    position: absolute;
    overflow: hidden;
    /*left: 180px;
    top: 80px;*/
    left: 0px;
    top: 0px;
    width: 700px;
    height: 700px;
}


#time-explanation {
    font-size: 10px;
    color: #999;
}

#title {
    font-family: Verdana;
    font-size: 40px;
    color: #555;
}

#unzoom {
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 20;
}
